* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.aar binary
*.deb binary
*.jar binary
*.jpg binary
*.jpeg binary
*.png binary
*.so binary
*.ttf binary
*.webp binary
*.xz binary
*.zip binary
